.navbar-background {
  background-color: #ffffff;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

// .uk-logo {
//   width: 150px;
//   background-image: url(../../../../assets/images/logo.svg);
//   background-repeat: no-repeat;
//   background-size: 16vh;
//   background-position-y: -2.3vh;
// }

ul.uk-navbar-nav {
  li.menu-item {
    transition: background-color 1s;

    &:hover {
      background-color: #1e87f0;

      a {
        color: #ffffff;
      }
    }

    a {
      font-family: "Archivo Black", sans-serif;
      color: #666666;
      transition: color 100ms;

      &.uk-active {
        color: #000000;
        border-bottom: 2px solid #1e87f0;
      }
    }
  }
}
