<div class="uk-height-1-1 auth-content">
  <div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-width-1-1 uk-width-1-2@s">
      <span id="toTop"></span>
      <div class="uk-container uk-section">
        <div
          uk-alert
          class="uk-alert-{{ alert?.color || 'primary' }}"
          *ngIf="alert"
        >
          <a class="uk-alert-close" uk-close></a>
          <h3>Noticia</h3>
          <p [innerHTML]="alert?.message"></p>
        </div>
        <form [formGroup]="formGroup" (submit)="onSubmit($event)">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Cuenta</mat-card-title>
              <mat-card-subtitle>Cambiar contraseña</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="uk-width-1-1">
                <mat-label>Contraseña Actual</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="old_password"
                  required
                />
                <mat-error *ngIf="f.old_password.hasError('required')">
                  La contraseña actual es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="uk-width-1-1">
                <mat-label>Nueva Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  required
                />
                <mat-error
                  *ngIf="
                    f.password.hasError('required');
                    else PasswordRequiredT
                  "
                >
                  La nueva contraseña es <strong>obligatorio</strong>
                </mat-error>
                <ng-template #PasswordRequiredT>
                  <mat-error *ngIf="f.password.hasError('minlength')">
                    Mínimo debe ser de 8 carácteres
                  </mat-error>
                </ng-template>
              </mat-form-field>
              <mat-form-field class="uk-width-1-1">
                <mat-label>Confirmar Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password_confirm"
                  required
                />
                <mat-error
                  *ngIf="
                    f.password_confirm.hasError('required');
                    else PasswordConfirmRequiredT
                  "
                >
                  Confirmar la contraseña es <strong>obligatorio</strong>
                </mat-error>
                <ng-template #PasswordConfirmRequiredT>
                  <mat-error
                    *ngIf="
                      f.password_confirm.hasError('minlength');
                      else PasswordConfirmMinLengthT
                    "
                  >
                    Mínimo debe ser de 8 carácteres
                  </mat-error>
                  <ng-template #PasswordConfirmMinLengthT>
                    <mat-error
                      *ngIf="f.password_confirm.hasError('confirmPassword')"
                    >
                      No coinciden las contraseñas
                    </mat-error>
                  </ng-template>
                </ng-template>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <div class="uk-text-right uk-section-xsmall">
                <button type="submit" mat-raised-button color="primary">
                  Cambiar
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>

        <div class="uk-section-small">
          <button
            mat-button
            color="primary"
            class="uk-text-large uk-width-1-1"
            routerLink="/dashboard"
          >
            Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
