<app-layout-option-three>
  <div class="uk-container uk-container-small">
    <div
      class="uk-position-relative uk-visible-toggle uk-light uk-height-large"
      tabindex="-1"
      uk-slideshow="animation: fade"
    >
      <ul class="uk-slideshow-items uk-height-large">
        <li>
          <img
            src="https://getuikit.com/docs/images/photo.jpg"
            class="uk-height-large"
            alt=""
            uk-cover
          />
          <div
            class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
          >
            <h3 class="uk-margin-remove">Bottom</h3>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </li>
        <li>
          <img
            src="https://getuikit.com/docs/images/dark.jpg"
            class="uk-height-large"
            alt=""
            uk-cover
          />
          <div
            class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
          >
            <h3 class="uk-margin-remove">Bottom</h3>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </li>
        <li>
          <img
            src="https://getuikit.com/docs/images/light.jpg"
            class="uk-height-large"
            alt=""
            uk-cover
          />
          <div
            class="uk-overlay uk-overlay-primary uk-position-right uk-text-center uk-transition-slide-right uk-width-medium"
          >
            <h3 class="uk-margin-remove">Left</h3>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </li>
      </ul>

      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slideshow-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slideshow-item="next"
      ></a>
    </div>

    <div class="uk-section">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        impedit odit ducimus omnis tempora obcaecati. Est esse, laudantium, fugiat
        adipisci sunt corporis id voluptatem accusantium iusto perferendis quam,
        odit illum!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        impedit odit ducimus omnis tempora obcaecati. Est esse, laudantium, fugiat
        adipisci sunt corporis id voluptatem accusantium iusto perferendis quam,
        odit illum!
      </p>
    </div>
  </div>
</app-layout-option-three>
