.profile-face {
  background-color: rgba($color: #ffffff, $alpha: .8);
  background-image: url(/assets/images/face.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 100vh;
}
