ul.status {
  li {
    mat-icon {
      transform: translateY(5px);
      margin-right: 20px;
    }

    &.text-created {
      color: purple;
    }
    &.text-email-verified {
      color: orange;
    }
    &.text-payed {
      color: green;
    }
  }
}
