<app-admin-layout>
  <h1 class="uk-heading-divider">Libro</h1>
  <ng-template
    let-movie
    [ngTemplateOutletContext]="{ $implicit: item | async }"
    [ngTemplateOutlet]="movieT"
    #movieT
  >
    <div class="uk-section-xsmall" *ngIf="movie; else loadingT">
      <div *ngIf="movie?.uuid; else notFoundT">
        <ul class="uk-breadcrumb uk-background-muted uk-padding-small">
          <li><a routerLink="/books/list">Libros</a></li>
          <li>
            <span> {{ movie?.title.es }} </span>
          </li>
        </ul>

        <div uk-grid>
          <div class="uk-width-1-1 uk-width-1-2@s">
            <img [src]="movie?.cover" [alt]="movie?.title?.es" />
          </div>
          <div class="uk-width-1-1 uk-width-1-2@s">
            <h2>{{ movie?.title?.es }}</h2>
            <p>{{ movie?.description?.es }}</p>
          </div>
        </div>
        <div class="uk-section-xsmall">
          <iframe
            [src]="
              sanitizer.bypassSecurityTrustResourceUrl((movie?.url?.es)[0])
            "
            width="100%"
            height="400vh"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </ng-template>
</app-admin-layout>

<ng-template #notFoundT>
  <h1>No existe la pelicula</h1>
</ng-template>
<ng-template #loadingT>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
