<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container uk-container-small">
    <h3>Takto Internacional</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>
          Somos la mejor forma de invertir tu tiempo y energía, generando dinero
          mientras te capacitas, diviertes y aprendes; ¡trabaja cuando y donde
          quieras, profesionalízate. ¡Alcanza tus propias metas!
        </p>
      </div>
      <div></div>
      <div>
        <div align="center">
          <a
            href="https://www.youtube.com/channel/UCszzpqW4JfZKXk-U4XLGppg"
            class="uk-icon-button uk-margin-small-right"
            uk-icon="youtube"
            target="_blank"
          ></a>
          <a
            href="https://www.instagram.com/takto_internacional"
            class="uk-icon-button uk-margin-small-right"
            uk-icon="instagram"
            target="_blank"
          ></a>
          <a
            href="https://www.facebook.com/TAKTO-Internacional-113925346982704/"
            class="uk-icon-button uk-margin-small-right"
            uk-icon="facebook"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
