<app-layout-default>
  <div
    class="uk-position-relative uk-visible-toggle"
    tabindex="-1"
    uk-slideshow="autoplay: true; autoplay-interval: 5000; pause-on-hover: true; min-height: 400; max-height: 600; animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img
          src="/assets/images/slideshow/adeolu-eletu-E7RLgUjjazc-unsplash.jpg"
          alt="Atrevete"
          uk-cover
        />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center"
        >
          <h2 class="uk-margin-remove">Atrevete</h2>
          <p class="uk-margin-remove">
            Somos la mejor forma de invertir tu tiempo y energía, generando
            dinero.
          </p>
        </div>
      </li>
      <li>
        <img
          src="/assets/images/slideshow/austin-distel-21GWwco-JBQ-unsplash.jpg"
          alt="Desde casa"
          uk-cover
        />
        <div
          class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small"
        >
          <h2 class="uk-margin-remove">Desde casa</h2>
          <p class="uk-margin-remove">
            Gana dinero, capacitate y diviertete al tiempo.
          </p>
        </div>
      </li>
      <li>
        <img
          src="/assets/images/slideshow/artem-beliaikin-SkA2TeXOfks-unsplash.jpg"
          alt="Remoto"
          uk-cover
        />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center"
        >
          <h2 class="uk-margin-remove">Remoto</h2>
          <p class="uk-margin-remove">
            ¡trabaja cuando y donde quieras, profesionalízate. ¡Alcanza tus
            propias metas!
          </p>
        </div>
      </li>
    </ul>

    <div class="uk-light">
      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slideshow-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slideshow-item="next"
      ></a>
    </div>
  </div>

  <!-- <iframe
    width="100%"
    height="315"
    appCuevanaPlayer
    src="https://www.fembed.com/v/d5mrwtxw8jn7r6r"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe> -->

  <div class="uk-section uk-section-xsmall">
    <div
      class="uk-card uk-card-primary uk-grid-collapse uk-child-width-1-2@s"
      uk-grid
    >
      <div class="uk-card-media-left uk-cover-container">
        <img
          src="/assets/images/slideshow/austin-distel-xz8-g_nmHs0-unsplash.jpg"
          alt="Aprende a construir tu negocio"
          uk-cover
        />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h2 class="uk-card-title">Aprende a construir tu negocio</h2>
          <p>
            Takto Internacional es la herramienta con la que podrás ganar mucho
            dinero, fija tus metas y realízalas, Se mejor cada día Despierta el
            gran empresario que hay en ti. Dedícate y veras los resultados.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-xsmall">
    <div
      class="uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s"
      uk-grid
    >
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img
          src="/assets/images/slideshow/austin-distel-IUitg35kAH0-unsplash.jpg"
          alt="GANA"
          uk-cover
        />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h2 class="uk-card-title">¡GANA!</h2>
          <p>
            Para nosotros es importante verte crecer, por eso te ofrecemos un
            plan de incentivos como premio y reconocimiento a tu crecimiento.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-xsmall">
    <div
      class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s"
      uk-grid
    >
      <div class="uk-card-media-left uk-cover-container">
        <img
          src="/assets/images/slideshow/carlos-muza-hpjSkU2UYSU-unsplash.jpg"
          alt="Resultados"
          uk-cover
        />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h2 class="uk-card-title">Resultados</h2>
          <p>
            Pon tu sistema en automático para que puedas tener activo tu negocio
            las 24 horas del día los 7 días a la semana y así generar mayores
            resultados.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-xsmall">
    <div
      class="uk-card uk-card-primary uk-grid-collapse uk-child-width-1-2@s"
      uk-grid
    >
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img
          src="/assets/images/slideshow/austin-distel-wD1LRb9OeEo-unsplash.jpg"
          alt="Independencia"
          uk-cover
        />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h2 class="uk-card-title">Independencia</h2>
          <p>
            Takto Internacional es la herramienta que te facilita la consecución
            de recursos, tu solo debes tomar la decisión y trabajar por tu
            independencia económica.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-xsmall">
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img
              src="/assets/images/slideshow/razvan-chisu-Ua-agENjmI4-unsplash.jpg"
              alt="Eres empleado"
            />
          </div>
          <div class="uk-card-body">
            <h2 class="uk-card-title">¿Eres empleado?</h2>
            <p>
              ¿Por qué conformarte con tu salario?
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img
              src="/assets/images/slideshow/riccardo-annandale-7e2pe9wjL9M-unsplash.jpg"
              alt="Eres independiente"
            />
          </div>
          <div class="uk-card-body">
            <h2 class="uk-card-title">¿Eres independiente?</h2>
            <p>
              Aumenta tus ingresos, genera cuanto desees. Los limites los fijas
              tú.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img
              src="/assets/images/slideshow/wes-hicks-4-EeTnaC1S4-unsplash.jpg"
              alt="Eres estudiante"
            />
          </div>
          <div class="uk-card-body">
            <h2 class="uk-card-title">¿Eres estudiante?</h2>
            <p>
              Genera ingresos sin descuidar tus estudios.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout-default>
